  .login-container {
    border: 1px solid rgba(0, 0, 0, 0.763);
    width: 40vw;
    height: 68vh;
    margin: 4rem auto 0;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.685);
    text-align: center;
  }



  .login-container h2 {
    color: #333;
  }

  .login-form {
    margin-top: 2rem;
  }

  .login-fields {
    margin-bottom: 0.4rem;
  }

  .login-fields label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }

  .login-fields input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .login-btn {
    width: 100%;
    margin-top: 3rem;
    background-color: #2ecc71; /* Green color for the login button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .login-btn:hover {
    background-color: tomato; /* Darker green on hover */
  }

  @media (max-width:900px){
    .login-container {
      width: 45vw;
      height: 70vh;
      margin: 4rem auto 0;
      padding: 2rem;
    }
  }
  @media (max-width:750px){
    .login-container {
      width: 55vw;
      height: 74vh;
      margin: 4rem auto 0;
      padding: 2.6rem 1.9rem;
    }
  }
  @media (max-width:600px){
    .login-container {
      width: 70vw;
      height: 77vh;
      margin: 4rem auto 0;
      padding: 2.6rem 1.4rem;
    }
  }
  @media (max-width:450px){
    .login-container {
      width: 90vw;
      height: 82vh;
      margin: 4rem auto 0;
      padding: 2.6rem 1rem;
    }
  }
  @media (max-width:300px){
    .login-container {
      width: 98vw;
      height: 82vh;
      margin: 4rem auto 0;
      padding: 2.6rem 1rem;
    }
  }